<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metaled">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Metaled">
        <activity
            android:name=".CategoryModule.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".WishListModule.WishListActivity"
            android:exported="false" />
        <activity
            android:name=".ProductModule.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardModule.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Customize_screen"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword.Forgot_Activity"
            android:exported="false" />
        <activity
            android:name=".Splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Otp.Otp"
            android:exported="false" />
        <activity
            android:name=".Add_Address.Add_Address"
            android:exported="false" />
        <activity
            android:name=".Address.Address"
            android:exported="false" />
        <activity
            android:name=".Payment_done_popup.Payment_Done_Popup"
            android:exported="false" />
        <activity
            android:name=".shipping"
            android:exported="false" />
        <activity
            android:name=".payment_method"
            android:exported="false" />
        <activity
            android:name=".Payment.Payment_activity"
            android:exported="false" />
        <activity
            android:name=".CartModule.CartActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".sidebar_activity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile_Edit"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword.ForgotPassword_Activity2"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name="com.example.customnavigationdrawerexample.MainActivity1" />
    </application>

</manifest>